accelerate
decord
diffusers
einops
imageio
imageio-ffmpeg
modelscope
numpy
opencv-python
pandas
peft
pillow
protobuf
pyyaml
requests
safetensors
scikit-image
scipy
sentencepiece
timm
torch
torchvision
tqdm
transformers
wandb
